@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary: #6366F1;
    --white-fff: #ffffff;
    --white: #Eeefff;
    --gray-100: #F3F6FF;
    --gray-300: #E2E5F1;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
    /* Fonts */
    --font-manrope: "Manrope", sans-serif;
}
* {
    font-family: var(--font-manrope);
}
a {
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
p {color: var(--gray-700);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
ul ,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.heading {
    text-align: center;
    padding-bottom: 40px;
}
.heading h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.3;
    color: var(--gray-900);
    padding-bottom: 24px;
}
.heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray-600);
}

/* body {
    background: #6365f13b;
} */

.myCheckBox {
    display: flex !important;
    position: relative !important;
}
.myCheckBox label.light {
    position: absolute !important;
    top: 0;
    left: -50px !important;
}
.contact_us {
    background: var(--primary);
    color: var(--white);
    padding: 9px 20px;
    border-radius: 4px;
}

h1 {
    color: var(--white);
}
.common_btn {
    padding: 0 32px;
    border-radius: 8px;
    background: var(--primary);
    color: var(--white);
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    border: none;
    white-space: nowrap;
}
/* ================================
       navbar Section Start
================================ */
#navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
/* ================================
       navbar Section End
================================ */

/* ================================
       Banner Section Start
================================ */
#banner {
    padding-top: 204px;
    padding-bottom: 96px;
    background: url("../images/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_container {
    align-items: start;
}
.left_side .icon_content {
    display: flex;
    align-items: center;
    gap: 16px;
}
.left_side .icon_content .icon_box {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_side .icon_content p {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.4;
    color: var(--gray-800);
    font-family: var(--font-manrope);
}

.banner_container .text h1 {
    font-size: 72px;
    font-weight: 800;
    color: var(--gray-900);
    line-height: 1.3;
    padding-top: 16px;
    padding-bottom: 64px;
}
.banner_container .text h1 span {
    background: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner_container .bottom_text {
    display: flex;
    align-items: start;
    gap: 40px;
    padding-bottom: 156px;
}
.banner_container .bottom_text p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-700);
    line-height: 1.6;
    min-width: 434px;
}

.left_side .icon_content.bottom p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray-700);
}

.right_side {
    position: relative;
}
.right_side .move {
    position: absolute;
    animation: move 30s linear alternate infinite;
    top: 0;
    left: 0;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg) ;
    }
}
/* ================================
       Banner Section End
================================ */

/* ================================
       Service Section Start
================================ */
#service {
    padding-top: 109px;
}

.service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.service_box h3 {
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    color: var(--gray-900);
}
.service_box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray-700);
}

#service .service_col {
    border-right: 1px solid var(--gray-300);
}
#service .service_col:last-child {
    border-right: none;
}
.service_box .icon {
    
}
.service_box .icon img {
    
}
/* ================================
       Service Section End
================================ */


/* ================================
    Featured Projects Section End
================================ */
#featured_projects {
    padding-top: 131px;
    padding-bottom: 96px;
}
#featured_projects .heading{
    max-width: 636px;
    margin: 0 auto;
}
.featured_images{}
.featured_images img{
    object-fit: cover;
}
.featured_images .image{
    border-radius: 8px;
    overflow: hidden;
}
.featured_images .image_1{
    height: 856px;
}
.featured_images .image_2{
    height: 416px;
}
.featured_images .image_3{
    height: 416px;
}
.featured_images .image_4{
    height: 416px;
    margin-top: 24px;
}
.featured_images .image_1 img{
    height: 100%;
}
.featured_images .image_2 img,
.featured_images .image_3 img,
.featured_images .image_4 img{
    height: 100%;
}
/* ================================
    Featured Projects Section End
================================ */


/* ================================
    Our Competencies Section Start
================================ */
#competencies {
    
}
#competencies .heading{
    max-width: 856px;
    margin: 0 auto;
}
.competencies_container {
    padding-top: 72px;
    padding-bottom: 96px;
    border-radius: 8px;
    background: var(--gray-100);
}
.competencies_container .content{
    max-width: 856px;
    margin: 0 auto;
    background: var(--white-fff);
    box-shadow: 0 4.4px 20px -1px rgba(19, 16, 34, 0.05);

}

.accordion_body_content {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
.accordion_body_content img {
    
}
.accordion_body_content .text {
   
}
.accordion_body_content .text p {
   
}

#competencies .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-900);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

#competencies .accordion-button:focus {
    box-shadow: none;
}
/* .competencies_accordion {
    margin-top: 50px;
} */

/* ================================
    Our Competencies Section End
================================ */

/* ================================
    About Us Section Start
================================ */
.about_container {}
.about_container .left_side {
    padding: 64px 48px 48px;
    background: var(--white-fff);
    box-shadow: 
        0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
        0 2px 6px -1px rgba(19, 16, 34, 0.03)
    ;
    border-radius: 8px;
    margin-right: 48px;
}
.about_container .left_side {
    position: relative;
}
.about_container .left_side .icon {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    position: absolute;
    top: 0px;
    left: 48px;
    transform: translateY(-20px);
}
.about_container .left_side .icon img {}

.about_container .left_side p {}
.about_container .left_side .stars {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 24px;
}
.about_container .left_side .stars li {}
.about_container .left_side .stars li img {}
.about_container .left_side .arrows {
    display: flex;
    position: absolute;
    bottom: -80px;
    left: 0;
}

.about_container .right_side {
    /* display: flex; */
}
.about_container .right_side .image {}
.about_container .right_side .image img {}
.about_container .right_side .info {}
.about_container .right_side .info .logo {
    border-right: 1px solid var(--gray-300);
    padding: 17px 44px 17px 20px;
}
.about_container .right_side .info .logo img {}
.about_container .right_side .info .text {
    padding-left: 24px;
}
.about_container .right_side .info .text h5 {}
.about_container .right_side .info .text p {}
/* ================================
    About Us Section End
================================ */

/* ================================
About Us Section End
================================ */
/* ================================
About Us Section End
================================ */

#brand {
    padding-top: 96px;
    padding-bottom: 112px;
}
.brand_container .text h3 {
    max-width: 410px;
    font-size: 32px;
    font-weight: 900;
    color: var(--gray-900);
    line-height: 1.3;
}
.brand_logos {
    gap: 56px;
}
.brand_logos .logo{
    width: 140px;
    gap: 10px;
    flex-direction: column;
}
.brand_logos .logo p{
    font-size: 14px;
}


/* ================================
    Blog Us Section Start
================================ */
#blog {
    padding-top: 96px;
    /* padding-bottom: 362px; */
    background: var(--gray-300);
}
.blog_container .card_item {
    box-shadow: 0 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}
.blog_card_text {
    background: var(--white-fff);
    padding: 24px;
    border-radius: 0 0 8px 8px;
}
.blog_card_text .text {}
.blog_card_text .text .hours {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.blog_card_text .text .hours span.digital {
    background: rgba(99, 101, 241, 0.12);
    border-radius: 4px;
    color: var(--primary);
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
}
.blog_card_text .text .hours span {}

.blog_card_text .text p {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-300);
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
    color: var(--gray-800);
}

.blog_card_text .info {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 24px;
}
.blog_card_text .info .user {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.blog_card_text .info .user  img {
        width: 48px;
    height: 48px;
    border-radius: 50%;
}
.blog_card_text .info .user_info {}
.blog_card_text .info .user_info h6 {}
.blog_card_text .info .user_info p {}


.right_layout {
    display: grid;
    grid-template-columns: 306px 1fr;
}
.right_layout .image{
    
}
.right_layout .image img {
width: 100%;
height: 100%;
}
.right_layout:last-child {
    margin-top: 24px;
}

.bottom {
    height: 406px;
    background: #8B5CF6;
    transform: translateY(203px);
}
/* ================================
    Blog Us Section End
================================ */





/* ################################
       CONTACT PAGE START
################################# */

/* ################################
       CONTACT PAGE END
################################# */